@forward "globals";

.main {
  &__body {
    display: flex;
  }
  &__image {
    background-color: var(--clr-neutral-white2);
    display: flex;
    height: 100vh;
    width: 35vw;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;

    & .img {
      background-image: url(../img/undraw-login-img.jpg);
      background-size: 23rem;
      background-repeat: no-repeat;
      width: 100%;
      padding: 12rem;
      margin-top: 5rem;
      margin-left: 2rem;
    }
  }

  &__form {
    //width: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 9rem;
    & .form__title {
      font-size: --fz-primary;
    }

    & .form__welcome {
      font-size: var(--fz-secondary);
    }

    & .form__email-input,
    .form__password-input {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0;
      width: 100%;

      & .email__small,
      .password__small {
        padding: 0 0 0.5rem 0;
      }

      & input {
        padding: 1rem;
        border: var(--clr-input) solid 0.1rem;
        border-radius: 1rem;
      }
    }

    & .extra__information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
      width: 100%;

      & .radio {
        color: var(--clr-gray);
      }

      & .forgot__password {
        color: var(--clr-anchor);
      }
    }

    & .login__buttons {
      display: flex;
      flex-direction: column;
      width: 100%;

      & button {
        border: none;
        border-radius: 0.5rem;
        color: var(--clr-neutral-white1);
        padding: 1rem;
        margin: 0.5rem 0;
      }
      &--default {
        background-color: var(--clr-primary);
      }
      &--google {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-gray);
        & img {
          margin-right: 0.2rem;
          margin-top: 0.1rem;
        }
      }
    }
  }
}
