@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --clr-primary: #04c35c;
  --clr-primary-light: #2b6cb0;

  --clr-neutral-white1: #ffffff;
  --clr-neutral-white2: #f7fafc;

  --clr-gray: #1a202c;
  --clr-input: #e8e8e8;
  --clr-anchor: #2b6cb0;

  --ff-primary: "Merriweather", serif;
  --ff-secondary: "Lato", sans-serif;

  --fz-primary: 1.625rem;
  --fz-secondary: 1rem;
}
